.navbar{
  background-color: black;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  color: #fff;
  height: 80px;
  padding-left: 20px;
}

.formbox{
  margin: auto;
  margin-top: 140px;
  width: 20%;
  background-color: white;
  border-radius: 15px;
  padding: 15px;
  border: solid black 2px;
}

.max{
    border-left: 0em;
    border-right: 0em;
    border-top: 0em;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-top: 5px;
    width: 95%;
    padding: 10px;
}
.max1{
  border-left: 0em;
  border-right: 0em;
  border-top: 0em;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
  width: 70%;

  padding: 20px;
}

#submitid:hover{
    background-color: maroon;
    cursor: pointer;
    color: white;
}
#submitid{
    border-left:1.5px black solid;
    border-right:1.5px black solid;
    border-top: 1.5px black solid;
    border-bottom: 1.5px black solid;
    padding: 10px;
    width: 20%;
  }

h1{
  color: black;
}

.logo{
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
  }